## Practice with dictionaries

In [2]:
n = 3

n1 = 'sam 99912222'
n2 = 'tom 11122222'
n3 = 'harry 12299933'

q1 = 'sam'
q2 = 'edward'
q3 = 'harry'

##### Create a dictionary

In [3]:
# separate name from numbers
n1 = n1.split()
n1

['sam', '99912222']

In [4]:
# print(name+'='+num)

In [5]:
# assign a key to value
{n1[0]:n1[1]}

{'sam': '99912222'}

In [4]:
N = int(input())

# Create a dictionary
phonebook = dict(input().split() for x in range(N))

3
sam 99912222
tom 11122222
harry 12299933

In [5]:
phonebook

{'sam': '99912222', 'tom': '11122222', 'harry': '12299933'}

In [7]:
N = int(input())

# Create a dictionary
phonebook = dict(input().split() for x in range(N))
while True:
    try:
        name = input()
        if name in phonebook:
            print(phonebook[name])
        else:
            print('Not found')
    except:
        break

3
sam 99912222
tom 11122222
harry 12299933
sam
99912222
edward
Not found
harry
12299933

Not found

Not found

Not found

## CodeWars: replace with alphabet position
link to problem: https://www.codewars.com/kata/546f922b54af40e1e90001da/train/python

In [5]:
import string

letters = list(string.ascii_lowercase)
# letters ## list of all letters

In [10]:
nums = list(range(1,27))

In [95]:
res = {letters[i]: nums[i] for i in range(len(letters))}
res

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [26]:
for i in res:
    print(res[i])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [6]:
phrase = "The sunset sets at twelve o' clock."

In [73]:
phrase = re.sub(r'[^\w\s]', '', phrase.lower())

In [74]:
import re
res = re.sub(r'[^\w\s]', '', phrase)
res

'the sunset sets at twelve o clock'

In [75]:
"".join(phrase.split())

'thesunsetsetsattwelveoclock'

Process:
1. look at each letter and change to a number
2. ignore spaces and punctuation? aka: only if `text.isalpha()`
3. return a string of numbers

In [93]:
import re

def alphabet_position(text):
    import string
    #ignore spaces and punctuation
    text = "".join(text.lower().split()) #lowercase and remove spaces
    text = re.sub(r'[^\w\s]', '', text) #remove punctuation
    final_string = []
    
    for i in text:
        letters = list(string.ascii_lowercase) ## list of all letters
        nums = list(range(1,27)) ## list of numbers

        res = {letters[i]: nums[i] for i in range(len(letters))} ## dictionary mapping letters to corresponding number
        
        final_string.append(res[i]) #### convert output to a string ####
    print(final_string)

In [94]:
alphabet_position(phrase)

[20, 8, 5, 19, 21, 14, 19, 5, 20, 19, 5, 20, 19, 1, 20, 20, 23, 5, 12, 22, 5, 15, 3, 12, 15, 3, 11]

### attempt #2:

In [13]:
import string
alph = string.ascii_lowercase
alph

'abcdefghijklmnopqrstuvwxyz'

In [110]:
a= 'abc'
list(enumerate(a))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [34]:
dict(enumerate(alph, start=1)) #this code needs to reverse key/value pairs

{1: 'a',
 2: 'b',
 3: 'c',
 4: 'd',
 5: 'e',
 6: 'f',
 7: 'g',
 8: 'h',
 9: 'i',
 10: 'j',
 11: 'k',
 12: 'l',
 13: 'm',
 14: 'n',
 15: 'o',
 16: 'p',
 17: 'q',
 18: 'r',
 19: 's',
 20: 't',
 21: 'u',
 22: 'v',
 23: 'w',
 24: 'x',
 25: 'y',
 26: 'z'}

In [97]:
#nums = list(range(1,27))
#res = {alph[i]: nums[i] for i in range(len(alph))} #make a reference dictionary

## OR ##

alpha = {a: i for i, a in enumerate(alph, start=1)} #make a reference dictionary -- this one prettier
alpha

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [43]:
phrase = "The sunset sets at twelve o' clock."

In [98]:
alpha = {a: i for i, a in enumerate(alph, start=1)} #make a reference dictionary -- this one prettier
results = []

for char in phrase.lower():
    if char.isalpha():
        results.append(alpha[char])
        
results

[20,
 8,
 5,
 19,
 21,
 14,
 19,
 5,
 20,
 19,
 5,
 20,
 19,
 1,
 20,
 20,
 23,
 5,
 12,
 22,
 5,
 15,
 3,
 12,
 15,
 3,
 11]

In [99]:
def alphabet_position(text):
    alpha = {a: i for i, a in enumerate(alph, start=1)} #make a reference dictionary -- this one prettier
    results = []
    for char in text.lower():
        if char.isalpha():
            results.append(alpha[char])
    return ' '.join(str(x) for x in results)

In [100]:
alphabet_position(phrase)

'20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11'